*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* generale */
body{
    background-color: #141922;
}
.white{
    color: white;
}
.gray{
    color: #878787;
}
.green{
    color: #ADFF2F;
}
a{
    text-decoration: none;
}
.btn{
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    cursor: pointer;
}
/* sidebar */
aside{
    background-color: black;
    width: 230px;
    height:100vh;
    padding-bottom: 80px;
}
/* banner */
.banner{
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: calc(100vw - 230px);
    background-color: black;
    opacity: 0.5;
}
/* main */
/* footer */
footer{
    background-color: #282828;
    height: 80px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100vw;
}






/* media and animation */
@media only screen and (max-width : 1440px) {

}

@media only screen and (max-width : 878px) {

}

@media only screen and (max-width : 639px) {

}

@media only screen and (max-width : 552px) {

}