*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* generale */
body{
    background-color: #141922;
}
.white{
    color: white;
}
.gray{
    color: #878787;
}
.green{
    color: #ADFF2F;
}
.black{
    color: black;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    padding-left: 1.1rem;
}
li{
    padding: 0.4rem 0;
}
.btn{
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    cursor: pointer;
}
.bigger{
    font-size: xx-large;
}
/* sidebar */
aside{
    background-color: black;
    width: 230px;
    height:100vh;
    padding-bottom: 80px;
    position: fixed;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
aside .icon{
    width: 80%;
    padding: 1rem 0 0 1rem;
}
aside .small{
    display: none;
}
aside .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 1rem 1rem;
}
aside .menu a{
    text-decoration: none;
    color: #878787;
}
aside .menu .menu-icon{
    width: 10%;
    fill: #878787;
}
aside h3.playlist-title{
    padding-left: 1rem;
}
aside .add{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
aside .add .square{
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: #878787;
    margin: 0 0 1rem 1rem;
}
aside .add i{
    position: relative;
    bottom: -11px;
    left: -38px;
    font-size: 30px;
    color: #ADFF2F;
}
aside .add p{
    padding-top: 20%;
    color: #878787 ;
}
aside .download{
    position: absolute;
    bottom: 70px; 
    width: 100%;
}
aside .dwn-icon{
    width: 20px;
    margin: 0 0 0 1rem;
}
aside .download span{
    line-height: 33px;
    position: relative;
    top: -5px;
}
aside .download hr{
    width: 80%;
    margin: auto;
}
aside .download .prof-icon{
    width: 20px;
    background-color: #878787;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0.5rem 0 0 1rem;
}
/* banner */
.banner{
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.421);
}
.banner .container{
    position: relative;
}
.banner .container a.btn{
    border: white solid 1px;
    border-radius: 20px;
    position: absolute;
    top:30px;
    right: 40px;
}
/* main */
main{
    height: calc(100vh - 70px);
    margin-left: 230px;
    padding:70px 2rem 2rem 2rem;
    overflow-y: auto;
    
}
main .container{
    height:100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
}
nav ul li a{
    border-bottom: 2px solid #141922;
}
main .music{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 3rem;
}
main .cover{
    text-align: center;
    flex-basis:calc((100% - 5rem) / 6 ) ;
    position: relative;
}
main .cover img{
    width:100%; 
}
main .cover .play-btn{
    position: absolute;
    top:8px;
    left: 5px;
    z-index: 1;
    display: none;
}
main .music .cover h3{
    margin-bottom: 0.5rem;
}
main .per-te .mix{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
}
main .popolari .artisti{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem 0 2rem 0;
}
main .popolari .cover img {
    border-radius: 50%;
}



/* footer */
footer{
    background-color: #282828;
    height: 75px;
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100vw;
}
footer .player{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
footer .player .s{
    flex: 1 1 auto
}
footer .player .l{
    flex: 1 2 auto
}
footer .player .brano{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: center;
    height: 100%;


}
footer .player .brano .brano-img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 100%;

}
footer .player .brano img{
    height: 60%;
}
footer .player .brano-icon span{
    padding: 0 0.5rem;
}
footer .player .play{
    text-align: center;
}
footer .player .play ul{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}
footer .player .play a{
    color: white;
}
footer .player .barra{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.5rem;
}
footer .player .barra .bar-gray{
    width: 400px;
    border: #878787 solid 1px;
    border-radius: 10px;
    background-color: #878787;
}
footer .player .barra .bar-white{
    text-align: end;
    width: 115px;
    border: white solid 3px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
footer .player .barra .circle{
    position: absolute;
    bottom: -10px;
    display: none;
/* fixare aggiungendo hover */
}
footer .player .volume{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}
footer .player .volume-bar-gray{
    width: 150px;
    border: #878787 solid 1px;
    border-radius: 10px;
    background-color: #878787;
} 
footer .player .volume-bar-white{
    width: 60px;
    border: white solid 1.5px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
footer .player .volume-bar-white .circle{
    font-size: small;
    position: absolute;
    left: 50px;
    top: -7px;
    display: none;
}
/* fixare aggiungendo hover */


/* media and animation */
aside .menu a:hover{
    color: white; 
}
aside .menu a:hover{
    border-left: 2px solid #ADFF2F ;
}
aside .add p:hover{
    color: white;
}
.gray>li:hover{
    color: white;
}
.download span:hover{
    color: white;
}
.banner .btn:hover{
    scale: 1.2;
    background-color: #486c12;
}
nav ul li a:hover{
    color: white;
}
.cover:hover :first-child{
    filter: grayscale(100%);
    opacity: 0.7;
}
.cover:hover .play-btn{
    display: unset;
}
footer .brano-text p:hover{
    color: white;
    text-decoration: underline;
}
footer .brano-icon .gray:hover{
    color: white;
}
footer .comandi i:hover{
    scale: 1.2;
}
footer .barra .bar-gray:hover .bar-white{
    background-color: #ADFF2F;
    border-color: #ADFF2F;
}
footer .barra .bar-gray:hover .circle{
    display: unset;
}
footer .volume i:hover{
    scale: 1.2;
}
footer .volume .volume-bar-gray:hover .volume-bar-white{
    background-color: #ADFF2F;
    border-color: #ADFF2F;
}
footer .volume .volume-bar-gray:hover .circle{
    display: unset;
}
@media only screen and (max-width : 1440px) {

}

@media only screen and (max-width : 878px) {
    main .music{
        flex-wrap: wrap;
    }
    main .cover{
        flex-basis: calc((100% - 3rem) / 4);
    }
}

@media only screen and (max-width : 639px) {
    main .music{
        flex-wrap: wrap;
    }
    main .cover{
        flex-basis: calc((100% - 1rem) / 2);
    }
}

@media only screen and (max-width : 552px) {
    aside{
        width: 50px;
    }
    aside .small{
        display: unset;
    }
    .big,#big{
        display: none ;
    }
    aside .menu,.download{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    aside .menu .menu-icon{
        width: 25px;
    }
    main{
        margin-left: 50px;
    }
    main .music{
        flex-wrap: wrap;
    }
    main .cover{
        flex-basis: calc((100% - 1rem) / 2);
    }
}